<html>
  <head>
    <title>girl_friday status</title>
    <link href="/css/style.css"  media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <style>
      h1 { font-size: 2em; padding-bottom: 5px;}
      h2 { font-size: 1.5em; padding-bottom: 5px;}
      h3 { font-size: 1.3em; padding-bottom: 5px;}
      html, body { height: 100%; }
      body { margin: 0; padding: 0; font-size: 14px; font-family: sans-serif; background-color: #ddd; }
      #menu { float: left; width: 20%; background-color: #fdd;}
      #main { float: right; background-color: #dfd; width: 75%;}
      #content { padding: 10px; width: 100%; }
      #header { background-color: #ddf; padding: 10px; }
      .queue { padding-bottom: 20px; }
    </style>
    <div id="header">
      <h1>girl_friday</h1>
    </div>

    <div id="content">
      <div id="menu">
        <h2>Queues</h2>
        <ul>
          <% @status.keys.each do |name| %>
            <li><a href="#<%= h name %>"><%= h name %></a>
          <% end %>
        </ul>
      </div>

      <div id="main">
        <% @status.each_pair do |name, stats| %>
          <div class="queue">
            <a name="<%= h name %>">
            <h3><%= h name %></h3>
            <p><%= stats.inspect %></p>
          </div>
        <% end %>
      </div>

    </div>
  </body>
</html>

