!!!
%html
  %head
    %title= page_title
    - if @page_description
      %meta{:name => "description", :content => @page_description}
    = stylesheets :site
    = javascripts('http://www.google.com/jsapi')
    :javascript
      google.load("jquery", "1.5");
      // google.load("jqueryui", "1.8.1");
      // google.load("chrome-frame", "1.0.2");
    = javascripts('modernizr-1.5.min', 'application')
  %body{:id => body_id, :class => body_class}
    = yield